<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fantasy Football</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="publicApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">FF</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="NavBarCtrl">

            <ul ng-if="!userLoggedIn()" class="nav navbar-nav pull-right">
              <!-- <li><a ng-href="#/signin">Signin</a></li> -->
              <li>
                <form ng-controller="AuthenticationCtrl" class="navbar-form navbar-left" data-ng-submit="signin()" autocomplete="off">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="credentials.username" placeholder="Username" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-default">Signin</button>
                </form>
              </li>
              <li><a href="#/signup">Signup</a></li>
            </ul>



            <ul ng-if="userLoggedIn()" class="nav navbar-nav pull-right">
              <li><a ng-href="#/myLeagues">My Leagues</a></li>
              <li><a ng-href="#/">Leagues</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.firstName + ' ' + user.lastName}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/">Edit Profile</a></li>
                  <li><a href="#/createLeague">Create League</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#/" ng-controller="AuthenticationCtrl" ng-click="signout()">Sign out</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/authentication.client.controller.js"></script>
        <script src="scripts/controllers/navbar.client.controller.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/controllers/league.js"></script>
        <!-- endbuild -->



</body>
</html>
