<form class="form-signin" data-ng-submit="create()" autocomplete="off" >
  <h2 class="form-signin-heading">Create a League</h2>

  <fieldset>
    <div id="form-views" ui-view></div>
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </fieldset>

  <label for="inputLeagueName">League Name</label>
  <input type="text" id="inputLeagueName" class="form-control" ng-model="league.name" placeholder="League Name" required="" autofocus >
  <br>
  <label for="realLeagueName">Choose League</label>
  <select name="realLeagueName" id="realLeagueName" class="form-control" ng-model="league.realLeague"
          ng-options="realLeague as (realLeague.league + ' (' + realLeague.caption + ')' ) for realLeague in leagues"
  >

  </select>

  <br>
  <label for="publicLeague">Public League
    <input type="checkbox" id="publicLeague" ng-model="league.isPublic">
  </label>

  <br>
  <label for="invUser">Participants</label>
  <div angucomplete-alt id="invUser"
          placeholder="Search by username"
          pause="300"
          selected-object="addUser"
          local-data="users"
          search-fields="username"
          title-field="username"
          minlength="2"
          input-class="form-control form-control-small"
          match-class="highlight">
  </div>

  <br>
  <label ng-if="selectedUsers.length > 0" for="invitedUsers">Invited</label>
  <div id="invitedUsers" class="form-horizontal" ng-repeat="user in selectedUsers">
    <p class="col-md-10">
      {{user.username}}
      <a ng-click="removeUser(user)">
        <!-- The class CANNOT be tooltip... -->
        <span class="glyphicon glyphicon-remove col-md-1"></span>
      </a>
    </p>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit">Create League</button>
</form>
