<div id="content" ng-controller="MainCtrl">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active" ng-click="getLivescore()">
      <a href="#livescore" data-toggle="tab">
        <span ng-if="!champLoading" class="glyphicon glyphicon-refresh"></span>
        Livescore</a>
    </li>
    <li ng-click="getLeagues()">
      <a href="#leagues" data-toggle="tab">Leagues</a>
    </li>
  </ul>


  <div id="my-tab-content" class="tab-content">

    <!-- LIVESCORE TAB -->
    <div class="tab-pane active" id="livescore">
      <div class="jumbotron" style="height: 400px; overflow : auto; position: relative;">
        <div ng-if="champLoading">
          <p><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading ... </p>
        </div>

        <div ng-if="!champLoading" ng-repeat="championships in champ">
          <h3>{{championships.champ}}</h3>
          <div ng-repeat="games in championships.games">
            <p>{{games.game}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- LEAGUES TAB -->
    <div class="tab-pane" id="leagues">
      <h1>Leagues</h1>
    </div>
  </div>
</div>

<script>
  var test;
  $('#tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
</script>
