<!-- TEMPLATES -->
<script type="text/ng-template" id="leagueOverview.html">
  <p ng-repeat="participants in extendedLeague.participants">
      {{participants.firstName}} {{participants.lastName}} aka {{participants.username}}
  </p>
</script>

<script type="text/ng-template" id="scoreboard.html">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Username</th>
      <th>Points</th>
    </tr>
    </thead>
    <tbody >
      <tr ng-repeat="participants in extendedLeague.participants">
        <td>{{participants.username}}</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <p>scoreboard</p>
</script>

<script type="text/ng-template" id="predictions.html">
  <div class="panel panel-default row" ng-repeat="prediction in predictions">
    <div class="panel-body">
      <div class="col-md-12">
        <h4 style="text-align: center">{{prediction.date| date:'dd-MM-yyyy HH:mm:ss Z'}}</h4>
      </div>
      <div class="col-md-9" >
        <img ng-src="{{prediction.homeTeamId.imageUrl}}" class="img-rounded" width="25" height="40" style="display:inline-block" >
        <p style="display:inline-block" >{{prediction.homeTeamId.shortName}}</p>
        <input type="text" style="width: 40px; border-radius:10px; display: inline-block; outline:none; text-align: center;" placeholder="0">
        <p style="display: inline-block">:</p>
        <input type="text" style="width: 40px; border-radius:10px; display: inline-block; outline:none; text-align: center;" placeholder="0">
        <p style="display: inline-block">{{prediction.awayTeamId.shortName}}</p>
        <img ng-src="{{prediction.awayTeamId.imageUrl}}" class="img-rounded" width="25" height="40" style="display:inline-block" >

      </div>
      <button class="btn btn-info col-md-1 col-sm-6 col-xs-6 col-md-offset-1" style="border-radius:10px; display: inline-block">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>
      <button class="btn btn-primary col-md-1 col-sm-6 col-xs-6" style="border-radius:10px; display: inline-block;">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="fixtures.html">
  <uib-accordion close-others="true">
    <uib-accordion-group ng-click="fixtureExtended(fixture.matchDay)" ng-repeat="(matchDay, fixtureId) in fixtures" is-open="false">
      <uib-accordion-heading>Match Day: {{matchDay}}</uib-accordion-heading>
      <div class="panel panel-default row" ng-repeat="fixture in fixtureId | orderBy:'-date'">
        <div class="panel-body">
          <div class="col-md-12">
            <h4 style="text-align: center">{{fixture.date| date:'dd-MM-yyyy HH:mm:ss Z' }}</h4>
          </div>
          <div class="col-md-12" >
            <img ng-src="{{fixture.homeTeamId.imageUrl}}" class="img-rounded" width="25" height="40" style="display:inline-block" >
            <p style="display:inline-block" >{{fixture.homeTeamId.shortName}}</p>
            <input type="text" style="width: 40px; border-radius:10px; display: inline-block; outline:none; text-align: center;" ng-value="fixture.goalsHomeTeam" disabled>
            <p style="display: inline-block">:</p>
            <input type="text" style="width: 40px; border-radius:10px; display: inline-block; outline:none; text-align: center;" ng-value="fixture.goalsAwayTeam" disabled>
            <p style="display: inline-block">{{fixture.awayTeamId.shortName}}</p>
            <img ng-src="{{fixture.awayTeamId.imageUrl}}" class="img-rounded" width="25" height="40" style="display:inline-block" >

          </div>
        </div>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</script>


<div class="col-md-12 panel panel-default" ng-if="myLeagues.length > 0">
  <div class="panel-body col-md-4">

      <uib-accordion close-others="true">
        <uib-accordion-group ng-click="leagueExtended(league)" ng-repeat="league in myLeagues" is-open="false">
          <uib-accordion-heading>{{league.name}} ({{league.realLeague.league}})</uib-accordion-heading>
          <a ng-click="$event.stopPropagation();$event.preventDefault();myLeaguesTemplates('scoreboard')" id="tpl-link">Scoreboard</a><br/>
          <a ng-click="$event.stopPropagation();$event.preventDefault();myLeaguesTemplates('predictions')">Predictions</a><br/>
          <a ng-click="$event.stopPropagation();$event.preventDefault();myLeaguesTemplates('fixtures')">Fixtures</a><br/>
          <a ng-click="$event.stopPropagation();$event.preventDefault();" ng-if="league.adminUserId == user._id">Edit</a>
        </uib-accordion-group>
      </uib-accordion>
  </div>

  <div class="panel-body col-md-8" ng-if="extendedLeague">
    <h4>{{extendedLeague.name}} ({{extendedLeague.realLeague.caption}})</h4>


    <div id="tpl-content" ng-include="tpl"></div>


  </div>
</div>
