<form class="form-signin" data-ng-submit="signup()" autocomplete="off" >
  <h2 class="form-signin-heading">Please sign up</h2>

  <fieldset>
    <div id="form-views" ui-view></div>
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </fieldset>

  <label for="inputUsername">Username</label>
  <input type="text" id="inputUsername" class="form-control" ng-model="credentials.username" placeholder="Username" required="" autofocus >
  <br>
  <label for="inputFirstName">Username</label>
  <input type="text" id="inputFirstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required="">
  <br>
  <label for="inputLastName">Username</label>
  <input type="text" id="inputLastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required="">
  <br>
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" class="form-control" ng-model="credentials.password" placeholder="Password" required="">
  <br>
  <label for="inputEmail">Email</label>
  <input type="email" id="inputEmail" class="form-control" ng-model="credentials.email" placeholder="Email" required="">
  <br>
  <div ng-if="activationToken">
    <a href="/users/activateAccount?token={{activationToken}}">Click here to activate your account</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
